Repository GlavaNet/flatcar-swarm-homelab: changes, and which Drone steps are due for each by the changed paths.
All: deploy-traefik, deploy-monitoring, deploy-adguard, deploy-vaultwarden

.drone.yml:

---
kind: pipeline
type: docker
name: deploy-stacks

steps:
  - name: deploy-traefik
    image: docker:latest
    volumes:
      - name: docker-sock
        path: /var/run/docker.sock
    commands:
      - docker stack deploy -c stacks/traefik/traefik-stack.yml traefik
    when:
      branch: [main]
      event: [push]
      paths: [stacks/traefik/**]

  - name: deploy-monitoring
    image: docker:latest
    volumes:
      - name: docker-sock
        path: /var/run/docker.sock
    commands:
      - docker stack deploy -c stacks/monitoring/monitoring-stack.yml monitoring
    when:
      branch: [main]
      event: [push]
      paths: [stacks/monitoring/**]

  - name: deploy-adguard
    image: docker:latest
    volumes:
      - name: docker-sock
        path: /var/run/docker.sock
    commands:
      - docker stack deploy -c stacks/adguard/adguard-stack.yml adguard
    when:
      branch: [main]
      event: [push]
      paths: [stacks/adguard/**]

  - name: deploy-vaultwarden
    image: docker:latest
    volumes:
      - name: docker-sock
        path: /var/run/docker.sock
    commands:
      - docker stack deploy -c stacks/vaultwarden/vaultwarden-stack.yml vaultwarden
    when:
      branch: [main]
      event: [push]
      paths: [stacks/vaultwarden/**]

volumes:
  - name: docker-sock
    host:
      path: /var/run/docker.sock

feat: add cron job for tracking commits to Drone CI
  .drone.yml
Due: none

fix: remove conditionals from drone pipeline
  .drone.yml
Due: none

fix: test .drone.yml
  .drone.yml
Due: none

chore: manual service deployment script
  .drone.yml
  scripts/deploy-services.sh
Due: none

feat: automate post-Ignition cluster formation and service stack deployment
  scripts/cluster-init.sh
  scripts/deploy-bootstrap.sh
Due: none

feat: Local git repo mirroring for Drone CI with Forgejo
  .drone.yml
  scripts/cluster-init.sh
  scripts/deploy-services.sh
  stacks/forgejo/forgejo-stack.yml
  stacks/monitoring/prometheus.yml
Due: deploy-monitoring

feat: Local git repo mirroring for Drone CI with Forgejo
  .gitignore
  stacks/forgejo/forgejo-stack.yml
Due: none

Remove Drone CI, Forgejo runner, cluster-init now configures git-poll cron jobs
  .drone.yml
  scripts/cluster-init.sh
  stacks/forgejo/forgejo-stack.yml
Due: none

feat: update cluster init script, deploy services script to handle local git changes and improve tracking
  scripts/cluster-init.sh
  scripts/deploy-services.sh
Due: none

fix: missing API config in Traefik
  stacks/traefik/traefik-stack.yml
Due: deploy-traefik

fix: AdGuard Traefik port 80 and Vaultwarden TLS support
  stacks/adguard/adguard-stack.yml
  stacks/vaultwarden/vaultwarden-stack.yml
Due: deploy-adguard, deploy-vaultwarden

chore: enhance Prometheus scrape configs
  stacks/monitoring/prometheus.yml
Due: deploy-monitoring

feat: AdGuardHome baked-in config and automatic account generation at deploy
  scripts/setup-adguard-secrets.sh
  stacks/adguard/adguard-stack.yml
  stacks/adguard/config/AdGuardHome.yaml.template
  stacks/adguard/generate-config.sh
Due: deploy-adguard

feat: Add Tailscale service
  scripts/deploy-services.sh
  scripts/setup-tailscale-secrets.sh
  stacks/tailscale/tailscale-stack.yml
Due: none

feat: redundant Tailscale service across all manager nodes
  scripts/setup-tailscale-secrets.sh
  stacks/tailscale/tailscale-stack.yml
Due: none

fix: remove tags from Tailscale stack deploy
  stacks/tailscale/tailscale-stack.yml
Due: none

feat: Traefik cross-node routing via ingress for AdGuard and Forgejo
  scripts/deploy-drone.sh
  scripts/deploy-services.sh
  stacks/adguard/adguard-stack.yml
  stacks/forgejo/forgejo-stack.yml
Due: deploy-adguard

Adguard config now copies to volume on first boot
  stacks/adguard/adguard-stack.yml
Due: deploy-adguard

fix: AdGuardHome config path
  stacks/adguard/adguard-stack.yml
Due: deploy-adguard

fix: AdGuard template file path in config
  stacks/adguard/adguard-stack.yml
Due: deploy-adguard

fix: entrypoint syntax
  stacks/adguard/adguard-stack.yml
Due: deploy-adguard

fix: Forgejo mirror sync service syntax error causing service failure
  scripts/cluster-init.sh
Due: none

fix: Adguard stack processes values from setup-adguard-secrets
  stacks/adguard/adguard-stack.yml
Due: deploy-adguard

fix: Adguard stack regenerates config each time
  stacks/adguard/adguard-stack.yml
Due: deploy-adguard

feat: add middleware labels for Traefik session handling in Adguard
  stacks/adguard/adguard-stack.yml
Due: deploy-adguard

feat: add Traefik trusted proxies to AdGuard config
  stacks/adguard/adguard-stack.yml
  stacks/adguard/config/AdGuardHome.yaml.template
Due: deploy-adguard

fix: Add logging to Traefik, pass through proper headers in AdGuard
  stacks/adguard/adguard-stack.yml
  stacks/traefik/traefik-stack.yml
Due: deploy-traefik, deploy-adguard

fix: add AGH_REVERSE_PROXY environment variable to AdGuard
  stacks/adguard/adguard-stack.yml
Due: deploy-adguard

Update http session ttl in AdGuard config template
  stacks/adguard/config/AdGuardHome.yaml.template
Due: deploy-adguard

chore: add config versioning to AdGuard stack
  stacks/adguard/adguard-stack.yml
Due: deploy-adguard
